@{
    ViewData["Title"] = "Home Page";
}
<partial name="_menu"/>
	<h2>Home Page</h2>
<body>JobEasy is an Canadian worldwide employment website for job listings launched in June 2022. It is a subsidiary of Rick Tang.</body>