<div class="pnl-strt container visible-md visible-lg nvbar">
	<div class="row">
				<ul class="list-inline menu" id="lorm" role="menubar" >
					<li>
						<details>
							<summary>Menu</summary>
							<ul role="menu">
								<li><a asp-controller="Job" asp-action="Index">Job Post</a></li>
							</ul>
							<ul role="menu">
								<li><a asp-controller="Applicant" asp-action="Index" >Applicant</a></li>
							</ul>
							<ul role="menu">
								<li><a asp-controller="Company" asp-action="Index" >Company</a></li>
							</ul>
							<ul role="menu">
								<li><a asp-controller="Application" asp-action="Index" >Application</a></li>
							</ul>
						</details>
					</li>
				</ul>			
	</div>	
	</div>